---
import BaseLayout from "../layouts/BaseLayout.astro"; // Import the layout
const frontmatter = {
  title: "Welcome to My Personal Site",
  author: "Satvi"
};
---

<BaseLayout frontmatter={frontmatter}>
  <section>
    <h2>Welcome to my homepage!</h2>
    <p>Hello and welcome to my website! Feel free to use the links above to navigate through my site 🙂</p>
  </section>
</BaseLayout>
